<section class="appsection">
    <div class="container">
        <img src="/images/iphone.svg" alt="">
        <div class="download">
            <h1>Download Our App <br> for Any Devices:</h1>
            <div class="content-box">
                <div class="apple">
                    <p>App Store</p>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <div class="appstore">
                    <img src="/images/appstore.svg" alt="">
                </div>
            </div>
            <div class="content-box">
                <div class="google">
                    <p>Google Play</p>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <div class="googleplay">
                    <img src="/images/googleplay.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>