<section id="newsletter">
    <div class="container">
        <div class="headtext">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="images/icons/arrows.svg" alt="">
        </div>
        <div class="content">
            <h5>Sign up for Newsletters</h5>
            <div class="content-box">
                <div>
                    <input type="checkbox">
                    <label>Daily Newsletter</label>
                </div>
                <div>
                    <input type="checkbox">
                    <label>Advertising Updates</label>
                </div>
                <div>
                    <input type="checkbox">
                    <label>Week in Review</label>
                </div>
                <div>
                    <input type="checkbox">
                    <label>Event Updates</label>
                </div>
                <div>
                    <input type="checkbox">
                    <label>Startups Weekly</label>
                </div>
                <div>
                    <input type="checkbox">
                    <label>Podcasts</label>
                </div>
            </div>
        </div>
        <div class="text-box">
            <form>
                <input type="text" name="Email" id="Email" placeholder=""><i class="fa-regular fa-envelope"></i>
                <a class="btn-theme-s" href="#">Subscribe *</a>
            </form>
            <p><span>*</span> Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a></span>.</p>
        </div>
    </div>
</section>