<section class="taskmaster">
    <div class="container">
        <img src="images/taskmaster.svg" alt="">
        <div class="box">
            <h1>Manage Your Work</h1>
            <p><i class="fa-sharp fa-thin fa-octagon-check"></i> Powerful project management</p>
            <p><i class="fa-sharp fa-thin fa-octagon-check"></i> Transparent work management</p>
            <p><i class="fa-sharp fa-thin fa-octagon-check"></i> Manage work & focus on the most important tasks</p>
            <p><i class="fa-sharp fa-thin fa-octagon-check"></i> Track your progress with interactive charts</p>
            <p><i class="fa-sharp fa-thin fa-octagon-check"></i> Easiest way to track time spent on tasks</p>
            <a class="btn-theme" href="#"><span>Learn More</span><i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>