<section class="work-tools">
    <div class="container">
        <div class="headtext">
        <h1>Integrate Top Work Tools</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus <br> facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>
        <div class="content">
            <div class="content-box">
                <img src="/images/loggo-1.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="content-box">
                <img src="/images/loggo-2.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="content-box">
                <img src="/images/loggo-3.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="content-box">
                <img src="/images/loggo-4.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="content-box">
                <img src="/images/loggo-5.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="content-box">
                <img src="/images/loggo-6.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="content-box">
                <img src="/images/loggo-7.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="content-box">
                <img src="/images/loggo-8.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
        </div>
    </div>
</section>