form {
    width: 100%;
    display: grid;
    gap: 1rem;

    a {
        text-decoration: underline;
    }

    .content {


        .input-group {
            display: grid;
        }

        .checkbox {
            span {
                display: block;

                &.field-validation-error {
                    position: static;
                    top: 0;
                    right: 0;
                    @include text-s;
                    color: $danger;
                }
            }
        }

        .checkbox-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            input[type ="checkbox"] {
                height: 1.2rem;
                width: 1.2rem;
            }

            label {
                margin-bottom: 0;
                font-weight: 400;
            }
        }

        label {
            margin-bottom: 3px;
            font-weight: 700;
        }

        input {
            padding: 1rem;
            border-radius: 8px !important;
            border: 1px solid $gray-700;

            &::placeholder {
                opacity: 0.4;
            }

            &.input-validation-error {
                border: 1px solid $danger !important;
                color: $danger;

                &::placeholder {
                    color: $danger;
                }
            }
        }
    }

    textarea {
        padding: 1rem;
        border-radius: 0.5rem !important;
        border: 0.063rem solid $gray-700;
        resize: none;

        &::placeholder {
            opacity: 0.4;
        }

        &.input-validation-error {
            border: 1px solid $danger !important;
            color: $danger;

            &::placeholder {
                color: $danger;
            }
        }
    }

    span {
        &.field-validation-error {
            position: absolute;
            top: 0;
            right: 0;
            @include text-s;
            color: $danger;
        }
    }
}
